app = "burns-barometer"
primary_region = "sea"

[build]
  dockerfile = "Dockerfile"

[env]
  CLOUD_MODE = "true" # Triggers scheduler mode

[[services]]
  protocol = "tcp"
  internal_port = 8000
  processes = ["app"]

  [[services.ports]]
    port = 80
    handlers = ["http"]
    force_https = true

  [[services.ports]]
    port = 443
    handlers = ["tls", "http"]

  [services.concurrency]
    type = "connections"
    hard_limit = 25
    soft_limit = 20
